body {
    align-items: center;
    background: linear-gradient(320deg, #7fffd4, #0c1ec4);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: 100vh;
    justify-content: center;
}

.calculator {
    width: 500px;
    margin: 50px auto;
    background-color: transparent;
    border: 2px solid aqua;
    border-radius: 15px;
    padding: 20px;
    margin-top: 200px;
}

.display,
.button {
    background: linear-gradient(320deg, #0044ff, #00a4f0);
}

.display {
    width: 99%;
    min-height: 50px;
    max-height: 150px;
    overflow: auto;
    background-color: #fff;
    text-align: right;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.button {
    background-color: #ffffff;
    border-radius: 100px;
    border: none;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #f2f2f2;
}

.button-long {
    grid-column: span 2;
}
